.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

header {
    text-align: right;
    padding: 10px;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.github-link {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    transition: all .2s;
}

.github-link:hover {
    color: #fff !important;
}

.app-container > h1 {
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result {
    font-size: 15px;
    margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  font-size: 15px;
}

form input, form select {
  padding: 5px;
}

form select {
  width: 100%;
}

form div {
  margin-bottom: 8px;
}
